<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs Son!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <!--main template starts here-->
    <div class="container">
      #parse( $template )
    </div>
    <!--main template end-->
  </body>
</html>
